---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
	<div class="scrim {% if site.cover %}has-cover{% endif %}">
		<header class="site-header">
		  <h1 class="title">{{ site.title }}</h1>
		  {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
		</header>
	</div>
</div>

<div class="wrapper">
		<h2>Informations<h2>
		<p>
			Secu'RT est un évènement autour du monde de la sécurité informatique organisé chaque année 
			à Montbéliard. Cet évènement est organisé par le Département Réseaux et Télécommunications de 
			l'Université de Franche-Comté avec l'aide du <a href="hackgyver.fr">Hackerspace</a> de Belfort.
			Chaque mois de Mars vous est proposé proposé aux passionnés et curieux une journée thèmatique. 
			Conférences et rencontres avec des professionels et acteurs de la sécurité IT vous sont proposé 
			en matinée puis un CTF est organisé l'après-midi. 
			Reverse engineering, Web application pentesting, sécurité réseaux... Venez vous mesurez face
			aux autres équipes dans de nombreux domaines liés au monde du hacking.
		</p>
		<h2>Plan d’accès</h2>
		<div class="map">
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=6.801215708255767%2C47.49394338332782%2C6.804756224155426%2C47.49563784075858&amp;layer=mapnik&amp;marker=47.49478971275091%2C6.802985966205597" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=47.49479&amp;mlon=6.80299#map=19/47.49479/6.80299">View Larger Map</a></small>
		</div>

</div>
</div>
