---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
	<div class="scrim {% if site.cover %}has-cover{% endif %}">
		<header class="site-header">
		  <h1 class="title">{{ site.title }}</h1>
		  {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
		</header>
	</div>
</div>

<div class="wrapper">

		<h2>Informations</h2>

			Secu'RT est un <b>évènement gratuit et ouvert à toutes et à tous</b>,
            autour du monde de la <b>sécurité informatique</b>.
            Il est organisé chaque année depuis 3 ans à Montbéliard, par le département
            <a href='http://formations.univ-fcomte.fr/ws?_profil=ufc&_cmd=getFormation&_oid=CDM-PROG14084&_redirect=voir_fiche_program&_lang=fr-FR&_onglet=description'>Réseaux et Télécommunications de l'Université de Franche-Comté</a>,
            avec l'aide du <a href="http://hackgyver.fr">Hackgyver</a>, le hackerspace de Belfort.

            <br/><br/>

            Cette année, la SecuRT se déroulera le <b>jeudi 10 mars</b> de 9h à 19h,
            dans les <a href='https://openstreetmap.org/?mlat=47.49479&amp;mlon=6.80299#map=19/47.49479/6.80299'>
            locaux de l'université</a>. 

            <br/><br/>

            La matinée est dédiée à des <a href='./planning'>conférences</a>,
            données par des professionnels et acteurs de la sécurité.
            
            <br/><br/>

            L'après-midi quant à elle est consacrée au <a href='./ctf'>CTF</a> :
			Rétro-ingénierie, applications web vulnérables, sécurité des réseaux…
            Venez vous mesurer aux autres équipes dans de nombreux domaines
            liés au <b>monde du hacking.<br/>
            N'oubliez pas d'ammener votre propre ordinateur.</b>

            <br/><br/>
            <span style="font-size:1.15em;">Venez apprendre, comprendre et rencontrer!</span>
            <br/><br/>


		<h2>Plan d’accès</h2>
		<div class="map">
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=6.801215708255767%2C47.49394338332782%2C6.804756224155426%2C47.49563784075858&amp;layer=mapnik&amp;marker=47.49478971275091%2C6.802985966205597" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=47.49479&amp;mlon=6.80299#map=19/47.49479/6.80299">View Larger Map</a></small>
		</div>	
		<br/>

		<h2>Partenaires</h2>

			<a target="_blank" href="https://siliconcomte.fr"><img style="width:400px;" src="assets/partenaires/logo-sc-transparent.png" alt="Siliconcomte"></a><br>
			<a target="_blank" href="https://www.nes.fr/fr"><img style="width:400px;" src="assets/partenaires/logo-NES.png" alt="NES"></a><br>
			<a target="_blank" href="http://www.2pie.fr"><img style="width:325px;" src="assets/partenaires/logo-2PIE.png" alt="2PIE"></a><br>
			<a target="_blank" href="https://www.f-secure.com"><img style="width:200px;" src="assets/partenaires/logo-fsecure.jpg" alt="F-Secure"></a><br>

</div>
</div>