---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
	<div class="scrim {% if site.cover %}has-cover{% endif %}">
		<header class="site-header">
		  <h1 class="title">{{ site.title }}</h1>
		  {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
		</header>
	</div>
</div>

<div class="wrapper">
	<div class="map">
		<h2>Plan d’accès</h2>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.7496775124832!2d6.800799951614162!3d47.49478967907527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4792172791149439%3A0x4dc03ddeb8739ac9!2zSVVUIFLDqXNlYXV4IFTDqWzDqWNvbXM!5e0!3m2!1sfr!2sfr!4v1447609863008" width="600" height="450" frameborder="0" style="border:0" align="center" allowfullscreen></iframe>
	</div>

</div>
</div>
